header, #carouselSite, #lists, #about, #ourServices, #contact, #local, footer{
    font-family: 'Raleway', sans-serif;
}

header{
    background-color: #154854;
}

.ctn{
    background-color: #e3e5df;
}

#menu-opcoes,
#menu-opcoes a:first-of-type{
    padding: 0px;
}

#menu-opcoes ul{
    font-size: 1em;
    padding: 0px;
    margin: 0px;
}

#menu-opcoes li{
    margin-right: 20px;
}

#menu-opcoes a{
    color: #fad12b;
    text-decoration: none;
}

#menu-opcoes a:hover{
    color: #c8a004;
}

.textSlide{
    font-size: clamp(.2em, 0.5em + 1vw, 2em);
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}

.textSlide span:first-of-type{
    text-shadow:#154854 0.5px -1px,#154854 -0.5px 1px, #154854 0.5px 1px, #154854 -0.5px -1px;
    color: #fad12b;
    padding: 0px;
    margin: 0px;
}

.textSlide span:last-of-type{
    text-shadow: #0000 0.1px -1px, #0000 -0.1px 1px, #0000 0.1px 1px, #0000 -0.1px -1px;
    color: #154854;
    padding: 0px;
    margin: 0px;
}

#lists ul{
    margin: 20px auto;
}

#lists ul li{
    list-style-type: none;
}

#lists ul li h5{
    background-color: rgba(21,72,84,0.3);
}

#lists ul li p{
    padding: 10px 0px;
    margin: 10px 0px;
    border-bottom: 2px solid #154854;
}

#about figure{
    padding: 0px;
    margin: 20px;
}

#about img, #ourServices img{
    border-radius: 5px;
}

.fontTam{
    font-size: clamp(.2em, 0.5em + 1vw, 1em);
}

.style-h3{
    color: #154854;
    font-weight: bold;
    border-left: 10px solid rgba(21,72,84,0.3);
    border-bottom: 4px solid rgba(21,72,84,0.3);
    padding-left: 10px;
    margin-top: 15px;
}

.topic-space{
    margin: 3% 5%;
}

.detail{
    float: right;
    width: 40%;
    padding: 1%;
    background: rgba(21,72,84,0.3);
    border-radius: 2px;
}

.detail2{
    float: left;
    width: 1%;
    padding: 1%;
    background: rgba(21,72,84,0.3);
    border-radius: 2px;
}

footer{
    background-color:rgba(21,72,84,0.5);
    padding: 25px 0;
}

#logoFooter{
    opacity: 0.9;
}

footer p{
    font-size: 0.9em;
    margin: 0px;
}

.social-media{
    margin: 20px 0;
}

.social-media a{
    color: rgba(0,0,0,0.9);
    margin-right: 25px;
    font-size: 30px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:last-of-type{
    margin-right: 0px;
}

.social-media a:hover{
    color: #154854;
}

#local iframe{
    padding-bottom: 20px;
}

@media screen and (max-width:991px){
    .detail{
        width: 25%;
    }

    #ourServices h5:first-of-type{
        padding-top: 10px;
    }

    footer div div div:last-of-type{
        padding: 30px 0px;
    }

    footer div div div:first-of-type{
        padding: 20px 0px;
        margin: 0px;
    }

    #borTop{
        border-top: 1px solid rgba(255,255,255,0.1);
    }
}
